/* .nav-bar{
    overflow: hidden;
  }
  
  .menu a {
    float: left;
    display: block;
    color: #8c8cad;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    margin-right: 5px 10px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .menu :not(:first-child) {
    float: right;
    display: none;
  }

  .nav-bar a:hover {
    border-bottom: 3px solid #8c8cad;
  }

  .menu .icon {
    float: right;
    display: block;
    margin: 3% 3% 0 0;
  }

  .menu .icon button {
    font-size:1.5em;
    background-color: inherit;
    border: none;
    color: #8c8cad;
  }

    .menu.responsive {position: relative;}
    .menu.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    
    .menu.responsive a {
      float: none;
      display: flex;
      text-align: left;
    } */

    